/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
/.hvigor-local
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
.claude
.DS_Store
*.class
ConvertKey.class
GenerateREDACTED.class
ConvertKey.java
GenerateREDACTED.java